version: "3.8"

services:
  backend:
    build:
      context: .
    container_name: backend
    ports:
      - "5088:8000"
    volumes:
      - .:/app
    environment:
      - PYTHONDONTWRITEBYTECODE=1
      - PYTHONUNBUFFERED=1

  frontend:
    build:
      context: ../BA-SEN-Front
    container_name: frontend
    ports:
      - "3227:80"
    depends_on:
      - backend
